<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	 	<title>Reset Password Instructions</title>
    </head>
    
    <body>
       
        <table cellspacing="0" bgcolor="#ecebe8" class="eoa_8aa" style="background:#ecebe8;width:100% !important;height:100% !important;-webkit-text-size-adjust:none;width:100% !important;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;" id="atemailbody">
		  
		  <tbody>
		    <tr>
		      <td valign="top" align="center">
		        
		        <table cellspacing="0" cellpadding="0" border="0">
		        	
		        	<tbody>
			            <tr>
			              <td>
			                &nbsp;
			              </td>
			              <td width="580" valign="top" align="left" style="padding-top:20px;padding-bottom:20px;padding-left:10px;padding-right:10px;">
			             
			                <!-- Content: Main -->
			                <table width="100%" cellpadding="30" style="background:#fff;margin:0;padding:0;" bgcolor="#ffffff">
			                  <tbody>
			                    <tr>
			                      <td valign="top" style="padding:30px 15px;">
			                        <table width="100%">
			                          
			                          <tbody><tr>
			                            <td align="left" style="padding-top:0px;padding-bottom:20px;">
			                            	<div align="center">
			                            		<h1 style="margin: 0px;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;line-height:38px;font-size:36px;font-weight:600;">
			                                		PartyUp
			                               		</h1>
			                            	</div>   
			                            </td>
			                          </tr>
			                          <tr>
			                            <td align="left">
			                              <h3 style="padding:0;margin:0;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;line-height:38px;font-size:32px;font-weight:300;letter-spacing:-0.05em;color:#000000;">
			                                Hello <%= @resource.first_name %>!                
			                              </h3>
			                              <p style="margin-top:10px;font-family:'Helvetica','Arial',sans-serif;font-size:16px;line-height:24px;color:#444;">
			                              	Someone has requested a link to change your password. You can do this through the link below.			                              
			                                <br />
			                                <br />
			                              	<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>   
			                              	<br />
			                              	<br />
			                              	If you didn't request this, please ignore this email. 
			                              	<br />
			                              	Your password won't change until you access the link above and create a new one.
			                              </p>
			                            </td>
			                          </tr>
			                                             
			                        </tbody>
			                      </table>
			                      </td>
			                    </tr>
			                  </tbody>
			      </table>
			      
			      
			      
			      <!-- Content: Footer -->
			      <table width="100%" cellpadding="30" bgcolor="#2e3237" style="background:#2e3237;">
			        <tbody>
			          <tr>
			            <td align="center" style="padding:30px;">
			              <p style="font-family:'Helvetica','Arial',sans-serif;color:#ccc;font-size:14px;line-height:24px;text-align:center">
			                <a style="text-decoration:none;color:#ffffff;" href="http://www.localhost.com">
			                  About Us
			                </a>
			                &nbsp;|&nbsp;
			                <a style="text-decoration:none;color:#ffffff;" href="http://www.localhost.com">
			               		FAQ
			             	</a>
			              &nbsp;|&nbsp;
			              <a style="text-decoration:none;color:#ffffff;" href="http://www.localhost.com/contact">
			                Contact
			              </a>			            
			          </p>			          
			      </td>
			  </tr>
			  </tbody>
			      </table>
			      
			      <!-- Email Foot -->
			      <table width="100%">
			      	<tbody>
			        <tr>
			          <td>
			            <table width="100%" cellpadding="30" style="margin-top:10px;">
			           		<tbody>
			              <tr>
			                <td align="center">
			                	
			                	<div style="padding-top:20px;padding-bottom:30px;margin:0;">
			                    	<hr style="margin:0;height:0px;zoom:1;overflow:hidden;border-top:1px solid #dedede;border-bottom:1px solid #fff;" />
			                  	</div>
		                  		
			                	<div style="font-family:'Helvetica','Arial',sans-serif;color:#ccc;font-size:14px;text-align:center">
			                		<h3 style="padding:0 0 10px;margin:0;text-align:center;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;font-size:24px;font-weight:300;letter-spacing:-0.05em;text-align:center;color:#FE6D4C;">
					                	Connect With US
					                </h3>
			                  
					                <a style="text-decoration:none;color:#3B5998;" href="#">
					                  Facebook
					                </a>
					                &nbsp;|&nbsp;
					                <a style="text-decoration:none;color:#55ACEE;" href="#">
					               		Twitter
					             	</a>
					              &nbsp;|&nbsp;
					              <a style="text-decoration:none;color:#DD4B39;" href="#">
					                Google Plus
					              </a>			            
					          </div>
			                  
			                  <div style="padding-top:30px;padding-bottom:20px;margin:0;">
			                    <hr style="margin:0;height:0px;zoom:1;overflow:hidden;border-top:1px solid #dedede;border-bottom:1px solid #fff;" />
			                  </div>		
			                	
			                  <h3 style="padding:0;margin:0;text-align:center;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;font-size:24px;font-weight:300;letter-spacing:-0.05em;text-align:center;color:#FE6D4C;">
			                    Why use PartyUp?
			                  </h3>
			                  <br />
			                  <p style="padding:0;margin:0;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;font-size:16px;line-height:24px;font-weight:300;letter-spacing:-0.05em;text-align:center;color:#666;">
			                  	Post your Event needs, Get proposals from vendors,
			                  	<br />
			                  	Browser vendor portfolio, Choose the best vendor 
			                    <br />
			                    <br />
			                    <a style="text-decoration:none;color:#000;" target="_blank" href="http://www.localhost.com">
			                      So lets get started &rarr;
			                    </a>
			                  </p>
			                  
			                  <div style="padding-top:20px;padding-bottom:10px;margin:0;">
			                    <hr style="margin:0;height:0px;zoom:1;overflow:hidden;border-top:1px solid #dedede;border-bottom:1px solid #fff;" />
			                  </div>
			                  
			                  <p style="margin-top:10px;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;font-size:14px;font-weight:300;line-height:24px;text-align:center;color:#666;">
			                    PartyUp is a WebPlatform to connect Event Organisers
			                    <br />
			                    and Vendors more efficiently and effectively.			                    
			                    <br />
			                    <br />
			                    Learn more at 
			                    <a style="text-decoration:none;color:#000;" target="_blank" href="http://www.localhost.com">
			                      www.localhost.com
			                    </a>			                  
			                  </p>
			                  <p style="margin:0;padding:10px 0;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;color:#999;text-align:center;font-size:12px;line-height:16px">
			                    Please do not reply to this email.
			                  </p>
			                </td>
			              </tr>
			  	</tbody>
			  </table>
			  </td>
			      </tr>
			      </tbody>
			      </table>
			      
			  </td>
			  
			  </tr></tbody>
			  
		  </table>
		  </td>
		</tr>
		</tbody>
</table>
    
</body>

</html>
